<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.arkanull">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/redball"
        android:label="ArkaNull"
        android:roundIcon="@drawable/redball"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ListaSfideActivity"
            android:exported="true" />
        <activity
            android:name=".ChallangeActivity"
            android:exported="true"
            android:label="@string/title_activity_challange"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="Login" />
        <activity
            android:name=".PunteggiActivity"
            android:label="Punteggi"
            android:parentActivityName=".ClassificaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ClassificaActivity" />
        </activity>
        <activity
            android:name=".MultiplayerActivity"
            android:label="Multiplayer"
            android:parentActivityName=".GiocaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GiocaActivity" />
        </activity>
        <activity
            android:name=".CarrieraActivity"
            android:label="Carriera"
            android:parentActivityName=".GiocaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GiocaActivity" />
        </activity>
        <activity
            android:name=".LivelliActivity"
            android:label="Livelli"
            android:parentActivityName=".GiocaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GiocaActivity" />
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="Menu" />
        <activity
            android:name=".ImpostazioniActivity"
            android:label="Impostazioni"
            android:parentActivityName=".MenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity" />
        </activity>
        <activity
            android:name=".ClassificaActivity"
            android:label="Classifica"
            android:parentActivityName=".MenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity" />
        </activity>
        <activity
            android:name=".GiocaActivity"
            android:label="Gioca"
            android:parentActivityName=".MenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity" />
        </activity>
    </application>

</manifest>