<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sms.nullpointers.arkanull">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.sms.nullpointers.arkanull.record.firebaseConnection"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ArkaNull"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.sms.nullpointers.arkanull.activity.ListaSfideActivity"
            android:label="@string/historicalChallenges"
            android:exported="true"
            android:parentActivityName="com.sms.nullpointers.arkanull.activity.MultiplayerActivity" >
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.sms.nullpointers.arkanull.activity.MultiplayerActivity" />
        </activity>

        <activity
            android:name="com.sms.nullpointers.arkanull.activity.MultiplayerActivity"
            android:label="@string/multiplayer"
            android:exported="true"
            android:parentActivityName="com.sms.nullpointers.arkanull.activity.GiocaActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.sms.nullpointers.arkanull.activity.GiocaActivity"/>
        </activity>

        <activity android:name="com.sms.nullpointers.arkanull.activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.sms.nullpointers.arkanull.game.Arkanull" />
        <activity
            android:name="com.sms.nullpointers.arkanull.activity.LoginActivity"
            android:exported="true"
            android:label="Login" />
        <activity
            android:name="com.sms.nullpointers.arkanull.activity.ClassificaActivity"
            android:label="@string/classifica"
            android:parentActivityName="com.sms.nullpointers.arkanull.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sms.nullpointers.arkanull.MainActivity" />
        </activity>
        <activity
            android:name="com.sms.nullpointers.arkanull.activity.CreaLivelloActivity"
            android:label="Carriera"
            android:parentActivityName="com.sms.nullpointers.arkanull.activity.GiocaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sms.nullpointers.arkanull.activity.GiocaActivity" />
        </activity>
        <activity
            android:name="com.sms.nullpointers.arkanull.activity.SingleGameActivity"
            android:label="Livelli"
            android:parentActivityName="com.sms.nullpointers.arkanull.activity.GiocaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sms.nullpointers.arkanull.activity.GiocaActivity" />
        </activity>
        <activity
            android:name="com.sms.nullpointers.arkanull.MainActivity"
            android:label="Arkanull" />
        <activity
            android:name="com.sms.nullpointers.arkanull.activity.ImpostazioniActivity"
            android:label="Impostazioni"
            android:parentActivityName="com.sms.nullpointers.arkanull.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sms.nullpointers.arkanull.MainActivity" />
        </activity>
        <activity
            android:name="com.sms.nullpointers.arkanull.activity.GiocaActivity"
            android:label="Gioca"
            android:parentActivityName="com.sms.nullpointers.arkanull.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sms.nullpointers.arkanull.MainActivity" />
        </activity>
    </application>

</manifest>